### Python Data Structures and Boolean

 - Boolean
 - Boolean and Logical Operators
 - Lists
 - Comparison operators
 - Dictionaries
 - Tuples
 - Sets

### Boolean Variables

Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [89]:
print(True,False)

True False

In [90]:
type(True)

bool

In [91]:
type(False)

bool

In [92]:
my_str='Akshay1234'

In [93]:
my_str.istitle()

True

In [94]:
print(my_str.isalnum()) #check if all characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).
print(my_str.isalpha()) #check if all characters in the string are alphabetic
print(my_str.isdigit()) #test if string characters are digits, otherwise False.
print(my_str.istitle()) #test if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.
print(my_str.isupper()) #test if all the characters are in upper case, otherwise False. 
print(my_str.islower()) #test if if all the characters are in lower case, otherwise False.
print(my_str.isspace()) #test if all the characters in a string are whitespaces, otherwise False.
print(my_str.endswith('A')) #test if the string ends with the specified value, otherwise False.
print(my_str.startswith('A')) #test if the string starts with the specified value, otherwise False.

True
False
False
True
False
False
False
False
True

### Boolean and Logical Operators

As you all know that if all the inputs to "AND" are TRUE then the output is TRUE and if all the inputs to "OR" are FALSE then output is FALSE. See examples below:

In [95]:
True and True

True

In [96]:
True and False

False

In [97]:
False and True

False

In [98]:
False and False

False

In [99]:
True or True

True

In [100]:
True or False

True

In [101]:
False or True

True

In [102]:
False or False

False

### Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]. Lists are used to store multiple items in a single variable.

In [103]:
type([])

list

In [104]:
lst_example=[]

In [105]:
type(lst_example)

list

In [106]:
lst=list()

In [107]:
type(lst)

list

In [108]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [109]:
len(lst)

6

In [110]:
type(lst)

list

#### Append: .append is used to add elements in the list

In [111]:
lst.append("Akshay")

In [112]:
lst.append(["John","Bala"])

In [113]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Akshay', ['John', 'Bala']]

#### Indexing

In [114]:
lst[6]

'Akshay'

In [115]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

#### Insert: insert in a specific order

In [116]:
lst.insert(2,"Paunikar")

In [117]:
lst

['Mathematics',
 'chemistry',
 'Paunikar',
 100,
 200,
 300,
 204,
 'Akshay',
 ['John', 'Bala']]

In [118]:
lst.append(["Hello","World"])

In [119]:
lst

['Mathematics',
 'chemistry',
 'Paunikar',
 100,
 200,
 300,
 204,
 'Akshay',
 ['John', 'Bala'],
 ['Hello', 'World']]

In [120]:
lst=[1,2,3]

In [121]:
lst.append([4,5])

In [122]:
lst

[1, 2, 3, [4, 5]]

#### Extend Method

In [123]:
lst=[1,2,3,4,5,6]

In [124]:
lst.extend([8,9])

In [125]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

#### Various Operations that we can perform in List

In [126]:
lst=[1,2,3,4,5]

In [127]:
sum(lst)

15

In [128]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

#### Pop() Method

In [129]:
lst.pop()

5

In [130]:
lst

[1, 2, 3, 4]

In [131]:
lst.pop(0)

1

In [132]:
lst

[2, 3, 4]

#### count(): Calculates total occurrence of given element of List

In [133]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [134]:
#length:Calculates total length of List
len(lst)

6

In [135]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [136]:
# Min and Max
print(min(lst))
print(max(lst))

1
5

### SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is based on a data structure known as a hash table. It is used to convert any of the iterable to a sequence of iterable elements with distinct elements. It is a collection that is written with curly brackets and is both unindexed and unordered.

In [137]:
# Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [138]:
set_var={1,2,3,4,3}

In [139]:
set_var

{1, 2, 3, 4}

In [140]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Avengers', 'IronMan', 'Hitman'}

set

In [141]:
# Inbuilt function in sets

set_var.add("Hulk")

In [142]:
print(set_var)

{'Avengers', 'IronMan', 'Hitman', 'Hulk'}

In [143]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [144]:
# Difference 
set2.difference(set1)

{'Hulk2'}

In [145]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [146]:
set2.intersection_update(set1)

In [147]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [148]:
# Difference update

set2.difference_update(set1)

In [149]:
print(set2)

set()

### Dictionaries:

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values. A dictionary is a kind of data structure that stores items in key-value pairs. A key is a unique identifier for an item, and a value is the data associated with that key. Dictionaries often store information such as words and definitions, but they can be used for much more.

In [150]:
dic={}

In [151]:
type(dic)

dict

In [152]:
type(dict())

dict

In [153]:
set_ex={1,2,3,4,5}

In [154]:
type(set_ex)

set

In [155]:
# Let's create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercedes Benz"}

In [156]:
type(my_dict)

dict

In [157]:
#Access the item values based on keys

my_dict['Car1']

'Audi'

In [158]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [159]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercedes Benz

In [160]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercedes Benz')

In [161]:
# Adding items in Dictionaries

my_dict['car4']='Lamborghini'

In [162]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercedes Benz', 'car4': 'Lamborghini'}

In [163]:
my_dict['Car1']='Aston Martin'

In [164]:
my_dict

{'Car1': 'Aston Martin',
 'Car2': 'BMW',
 'Car3': 'Mercedes Benz',
 'car4': 'Lamborghini'}

#### Nested Dictionary

In [165]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [166]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [167]:
# Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [168]:
print(car_type['car1']['Mercedes'])

1960

### Tuples:

Python tuples are a type of data structure that is very similar to lists. The main difference between the two is that tuples are immutable, meaning they cannot be changed once they are created. This makes them ideal for storing data that should not be modified, such as database records. Tuples are written with round brackets.

In [169]:
# create an empty Tuples

my_tuple=tuple()

In [170]:
type(my_tuple)

tuple

In [171]:
my_tuple=()

In [172]:
type(my_tuple)

tuple

In [173]:
my_tuple=("Akshay","Ankur","John")

In [174]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Akshay', 'Ankur', 'John')

In [175]:
my_tuple.count('Akshay')

1

In [176]:
my_tuple.index('Ankur')

1

### Python Variables and datatypes Revision

In [2]:
# Programming has two concepts: machine and code. We write code to instruct machine to perform or automate our tasks.
# Translator works as a compiler or interpreter which transforms python code into machine readable format.
# Variable: A variable is a name given to a memory location in a program.

name = "akshay"
age = 31

print(name, age)

akshay 31

In [3]:
# Datatypes
# Integers: +ve, -ve or 0.
# Strings: text in single '' or double quotes ""
# Float: decimal values
# Boolean: True or False
# None: No value stored.

name = "akshay"
age = 31
height = 5.7
male = True
swim = None

print(type(name))
print(type(age))
print(type(height))
print(type(male))
print(type(swim))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [4]:
# Keywords are the reserved words in python which we cannot use as a variable.
# Punctuators are symbols to organize sentence structure in programming.
# Expression Execution:
# Floor: floor gives closest integer which is less than or equal to the float value.
# Remainder is negative when denominator is negative.
# input() statement is used to accept values from user.

# string input
name = input("Enter name: ")

# integer input
age = int(input("Enter age: "))

# float input
height = float(input("Enter height: "))

print(name, age, height)

akshay 31 5.7

In [ ]:
# Types of Operators

# Arithmetic Operators: (+, -, *, /, //, %, **)

# Rational / Comparison Operator: (==, != , <, >, <=, >=)

# Assignment Operators: (= , +=, -=, *=, /=, %=, **=)

# Logical Operators: AND, OR, NOT

In [2]:
# Practice
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
result = num1 + num2
print(result)

70

In [3]:
# Area of Square
side = float(input("Enter the length of side: "))
area = side ** 2
print(area)

2540.16

In [5]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

if (num1 >= num2):
    print("True")
else:
    print(False)

True

In [6]:
# Strings and conditional statements
# string is a datatype that stores a sequence of characters
# concatenation
# len
# indexing
# slicing
# string functions

In [7]:
# Conditional Statements:
# if-elif-else