### Python Data Structures and Boolean

 - Boolean
 - Boolean and Logical Operators
 - Lists
 - Comparison operators
 - Dictionaries
 - Tuples
 - Sets

### Boolean Variables

Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [89]:
print(True,False)

True False

In [90]:
type(True)

bool

In [91]:
type(False)

bool

In [92]:
my_str='Akshay1234'

In [93]:
my_str.istitle()

True

In [94]:
print(my_str.isalnum()) #check if all characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).
print(my_str.isalpha()) #check if all characters in the string are alphabetic
print(my_str.isdigit()) #test if string characters are digits, otherwise False.
print(my_str.istitle()) #test if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.
print(my_str.isupper()) #test if all the characters are in upper case, otherwise False. 
print(my_str.islower()) #test if if all the characters are in lower case, otherwise False.
print(my_str.isspace()) #test if all the characters in a string are whitespaces, otherwise False.
print(my_str.endswith('A')) #test if the string ends with the specified value, otherwise False.
print(my_str.startswith('A')) #test if the string starts with the specified value, otherwise False.

True
False
False
True
False
False
False
False
True

### Boolean and Logical Operators

As you all know that if all the inputs to "AND" are TRUE then the output is TRUE and if all the inputs to "OR" are FALSE then output is FALSE. See examples below:

In [95]:
True and True

True

In [96]:
True and False

False

In [97]:
False and True

False

In [98]:
False and False

False

In [99]:
True or True

True

In [100]:
True or False

True

In [101]:
False or True

True

In [102]:
False or False

False

### Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]. Lists are used to store multiple items in a single variable.

In [103]:
type([])

list

In [104]:
lst_example=[]

In [105]:
type(lst_example)

list

In [106]:
lst=list()

In [107]:
type(lst)

list

In [108]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [109]:
len(lst)

6

In [110]:
type(lst)

list

#### Append: .append is used to add elements in the list

In [111]:
lst.append("Akshay")

In [112]:
lst.append(["John","Bala"])

In [113]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Akshay', ['John', 'Bala']]

#### Indexing

In [114]:
lst[6]

'Akshay'

In [115]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

#### Insert: insert in a specific order

In [116]:
lst.insert(2,"Paunikar")

In [117]:
lst

['Mathematics',
 'chemistry',
 'Paunikar',
 100,
 200,
 300,
 204,
 'Akshay',
 ['John', 'Bala']]

In [118]:
lst.append(["Hello","World"])

In [119]:
lst

['Mathematics',
 'chemistry',
 'Paunikar',
 100,
 200,
 300,
 204,
 'Akshay',
 ['John', 'Bala'],
 ['Hello', 'World']]

In [120]:
lst=[1,2,3]

In [121]:
lst.append([4,5])

In [122]:
lst

[1, 2, 3, [4, 5]]

#### Extend Method

In [123]:
lst=[1,2,3,4,5,6]

In [124]:
lst.extend([8,9])

In [125]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

#### Various Operations that we can perform in List

In [126]:
lst=[1,2,3,4,5]

In [127]:
sum(lst)

15

In [128]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

#### Pop() Method

In [129]:
lst.pop()

5

In [130]:
lst

[1, 2, 3, 4]

In [131]:
lst.pop(0)

1

In [132]:
lst

[2, 3, 4]

#### count(): Calculates total occurrence of given element of List

In [133]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [134]:
#length:Calculates total length of List
len(lst)

6

In [135]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [136]:
# Min and Max
print(min(lst))
print(max(lst))

1
5

### SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is based on a data structure known as a hash table. It is used to convert any of the iterable to a sequence of iterable elements with distinct elements. It is a collection that is written with curly brackets and is both unindexed and unordered.

In [137]:
# Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [138]:
set_var={1,2,3,4,3}

In [139]:
set_var

{1, 2, 3, 4}

In [140]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Avengers', 'IronMan', 'Hitman'}

set

In [141]:
# Inbuilt function in sets

set_var.add("Hulk")

In [142]:
print(set_var)

{'Avengers', 'IronMan', 'Hitman', 'Hulk'}

In [143]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [144]:
# Difference 
set2.difference(set1)

{'Hulk2'}

In [145]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [146]:
set2.intersection_update(set1)

In [147]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [148]:
# Difference update

set2.difference_update(set1)

In [149]:
print(set2)

set()

### Dictionaries:

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values. A dictionary is a kind of data structure that stores items in key-value pairs. A key is a unique identifier for an item, and a value is the data associated with that key. Dictionaries often store information such as words and definitions, but they can be used for much more.

In [150]:
dic={}

In [151]:
type(dic)

dict

In [152]:
type(dict())

dict

In [153]:
set_ex={1,2,3,4,5}

In [154]:
type(set_ex)

set

In [155]:
# Let's create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercedes Benz"}

In [156]:
type(my_dict)

dict

In [157]:
#Access the item values based on keys

my_dict['Car1']

'Audi'

In [158]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [159]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercedes Benz

In [160]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercedes Benz')

In [161]:
# Adding items in Dictionaries

my_dict['car4']='Lamborghini'

In [162]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercedes Benz', 'car4': 'Lamborghini'}

In [163]:
my_dict['Car1']='Aston Martin'

In [164]:
my_dict

{'Car1': 'Aston Martin',
 'Car2': 'BMW',
 'Car3': 'Mercedes Benz',
 'car4': 'Lamborghini'}

#### Nested Dictionary

In [165]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [166]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [167]:
# Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [168]:
print(car_type['car1']['Mercedes'])

1960

### Tuples:

Python tuples are a type of data structure that is very similar to lists. The main difference between the two is that tuples are immutable, meaning they cannot be changed once they are created. This makes them ideal for storing data that should not be modified, such as database records. Tuples are written with round brackets.

In [169]:
# create an empty Tuples

my_tuple=tuple()

In [170]:
type(my_tuple)

tuple

In [171]:
my_tuple=()

In [172]:
type(my_tuple)

tuple

In [173]:
my_tuple=("Akshay","Ankur","John")

In [174]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Akshay', 'Ankur', 'John')

In [175]:
my_tuple.count('Akshay')

1

In [176]:
my_tuple.index('Ankur')

1

### Python Variables and datatypes Revision

In [2]:
# Programming has two concepts: machine and code. We write code to instruct machine to perform or automate our tasks.
# Translator works as a compiler or interpreter which transforms python code into machine readable format.
# Variable: A variable is a name given to a memory location in a program.

name = "akshay"
age = 31

print(name, age)

akshay 31

In [3]:
# Datatypes
# Integers: +ve, -ve or 0.
# Strings: text in single '' or double quotes ""
# Float: decimal values
# Boolean: True or False
# None: No value stored.

name = "akshay"
age = 31
height = 5.7
male = True
swim = None

print(type(name))
print(type(age))
print(type(height))
print(type(male))
print(type(swim))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [4]:
# Keywords are the reserved words in python which we cannot use as a variable.
# Punctuators are symbols to organize sentence structure in programming.
# Expression Execution:
# Floor: floor gives closest integer which is less than or equal to the float value.
# Remainder is negative when denominator is negative.
# input() statement is used to accept values from user.

# string input
name = input("Enter name: ")

# integer input
age = int(input("Enter age: "))

# float input
height = float(input("Enter height: "))

print(name, age, height)

akshay 31 5.7

In [ ]:
# Types of Operators

# Arithmetic Operators: (+, -, *, /, //, %, **)

# Rational / Comparison Operator: (==, != , <, >, <=, >=)

# Assignment Operators: (= , +=, -=, *=, /=, %=, **=)

# Logical Operators: AND, OR, NOT

In [2]:
# Practice
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
result = num1 + num2
print(result)

70

In [3]:
# Area of Square
side = float(input("Enter the length of side: "))
area = side ** 2
print(area)

2540.16

In [5]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

if (num1 >= num2):
    print("True")
else:
    print(False)

True

In [6]:
# Strings and conditional statements
# string is a datatype that stores a sequence of characters
# concatenation
# len
# indexing
# slicing
# string functions

In [12]:
# Conditional Statements:
# if-elif-else

# Example of traffic lights

color = input("What is the color of traffic light?: ")

if (color == "green"):
    print("Go...")
elif (color == "red"):
    print("Stop !!!")
elif (color == "yellow"):
    print("Slow Down...")
else:
    print("!!! WARNING !!! Light is broken !!! Drive Carefully !!!")

!!! WARNING !!! Light is broken !!! Drive Carefully !!!

In [23]:
# Another example: Voting Rights, Driving Licence, Marriage

age = int(input("What is your age?: "))  # Convert age input to an integer
gender = input("Enter your Gender: ").lower()  # Normalize the gender input

if age >= 18 and gender == "female":
    print("You can Vote, Drive and can marry")
elif age >= 18 and age < 21 and gender == "male":
    print("You can vote, drive but cannot marry")
elif age >= 21 and gender == "male":
    print("You can Vote, Drive and can marry")
else:
    print("You cannot Vote, Drive and marry")

You cannot Vote, Drive and marry

In [28]:
# Another Example: Grade students based on marks
marks = int(input("Enter the total marks: "))
name = input("Enter your full name: ").upper()

if (marks >= 90):
    print("Congratulations {} !!!. Your Grade is First Class with Distinction !!!".format(name))
    
elif (marks >= 75 and marks < 90):
    print("Congratulations {} !!!. Your Grade is First Class !!!".format(name))
    
elif (marks >= 60 and marks < 75):
    print("Congratulations {} !!!. Your Grade is Second Class !!!".format(name))
    
elif (marks >= 40 and marks < 60):
    print("Congratulations {} !!!. Your Grade is Third Class !!!".format(name))
    
else:
    print("Hello {}. You failed in the exam.".format(name))

Hello AKSHAY PAUNIKAR. You failed in the exam.

In [ ]:
# Lists & Tuples

# List is a built-in datatype that stores set of values. It can store elements of different types (integer, float, strings etc.).
# Elements in the lists are enclosed with a Square Bracket [].
# lists are mutable meaning the values can be changed using proper indexing.
# slicing [start_idx, end_idx] #last index is not included.

list1 = ["John", 5.5, 100, "USA", "Giraffe", 200, 53.9]
print(list1)
print(type(list1))
print(list1[0])
list1[0] = "David"
print(list1)

['John', 5.5, 100, 'USA', 'Giraffe', 200, 53.9]
<class 'list'>
John
['David', 5.5, 100, 'USA', 'Giraffe', 200, 53.9]

In [4]:
# list methods
# append
# reverse
# sort
# sort(reverse=True)
# insert(idx, ele)

list2 = [9, 8, 7, 4, 5, 6]
list2.append(3)
print(list2)
list2.sort()
print(list2)
list2.sort(reverse=True)
print(list2)
list2.reverse()
print(list2)
list2.insert(0,2)
print(list2)

[9, 8, 7, 4, 5, 6, 3]
[3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3]
[3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
# Tuples in python
# A built-in datatype that let's you create immutable sequence of values.
# similar to lists but immutable and elements are enclosed within parenthesis ().
# indexing and slicing is allowed but item assignment not allowed.
tup = (1, 2, 3, 4)
print(tup)
print(type(tup))
print(tup[0])

(1, 2, 3, 4)
<class 'tuple'>
1

In [7]:
# tup[0] = 3 # TypeError: 'tuple' object does not support item assignment

In [11]:
# Tuple methods
# index - find index of the given element
print(tup.index(2))

# count - count the occurence of the given element
print(tup.count(2))

1
1

In [13]:
# Practice
# Ask the user to input their 3 fav movies and append it to the list
movies = []
movies.append(input("Enter the 1st movie name:"))
movies.append(input("Enter the 2nd movie name:"))
movies.append(input("Enter the 3rd movie name:"))
print(movies)

['Lord of the Rings', 'Hobbit', 'Pursuit of Happyness']

In [15]:
# Practice
# Check if the list is a palindrome (Hint: use copy() method)
# lst1 = [1, 2, 3, 2, 1]
lst1 = [1, 2, 3]
lst2 = lst1.copy()
lst2.reverse()

if (lst2 == lst1):
    print("This is palindrome")
else:
    print("Not a palindrome")

Not a palindrome

In [17]:
# Practice
# Count the number of students with Grade "A" in the following tuple
grade = ('A', 'B', 'C', 'B', 'D', 'A', 'C', 'A', 'D', 'A')
print(grade.count('A'))

4

In [18]:
# Practice
# store the above tuple in a list and sort from 'A' to 'D'.
lst3 = ['A', 'B', 'C', 'B', 'D', 'A', 'C', 'A', 'D', 'A']
lst3.sort()
print(lst3)

['A', 'A', 'A', 'A', 'B', 'B', 'C', 'C', 'D', 'D']

In [4]:
# Dictionaries & Sets
# Dictionaries are used to store data values in key:value pairs
# They are mutable, unordered, and don't allow duplicate keys

dict1 = {
    "name" : "akshay",
    "grade": 12,
    "subjects": ["Physics", "Chemistry", "Maths"],
    "marks": (75, 85, 90, 70),
    "cgpa": 7.6,
    "pass": True
}

print(dict1)
print(type(dict1))

# accessing dictionaries
print(dict1['name'])
print(dict1["cgpa"])
print(dict1["pass"])

{'name': 'akshay', 'grade': 12, 'subjects': ['Physics', 'Chemistry', 'Maths'], 'marks': (75, 85, 90, 70), 'cgpa': 7.6, 'pass': True}
<class 'dict'>
akshay
7.6
True

In [5]:
# nested dictionaries
student = {
    "name": "Anonymous",
    "subjects": {
        "A": 80,
        "B": 90,
        "C": 95
    }
}

print(student["subjects"]["B"])

90

In [9]:
# dictionary methods
# keys() - returns all keys
# values() - returns all values
# items() - returns key, value pairs as tuple
# get("key") - returns the key according to values
# update - insert specified items to dictionary

print(list(student.keys()))
print(list(student.values()))
print(list(student.items()))
print(student.get("subjects"))
student.update({"city": "delhi"})
print(student)

['name', 'subjects', 'city']
['Anonymous', {'A': 80, 'B': 90, 'C': 95}, 'delhi']
[('name', 'Anonymous'), ('subjects', {'A': 80, 'B': 90, 'C': 95}), ('city', 'delhi')]
{'A': 80, 'B': 90, 'C': 95}
{'name': 'Anonymous', 'subjects': {'A': 80, 'B': 90, 'C': 95}, 'city': 'delhi'}

In [13]:
# Set in python
# Set is the collection of the unordered items
# Each element in the set must be unique and immutable
# repeated elements are stored only once.

collection = {1, 2, 2, 2, 3, "hello", "world", "hello", "city", 5, 5}
print(collection)
print(type(collection))

{1, 2, 3, 'city', 5, 'world', 'hello'}
<class 'set'>

In [21]:
# set methods
# add() - adds an element
# remove() - removes an element
# clear() - empties the set
# pop() - removes random values

set1 = set()
set1.add("hello")
set1.add("welcome")
set1.add(1)
set1.add("akshay")
print(set1) 

set1.remove("welcome")
print(set1)

set1.pop()
print(set1)

set1.clear()
print(set1)

{1, 'hello', 'welcome', 'akshay'}
{1, 'hello', 'akshay'}
{'hello', 'akshay'}
set()

In [22]:
# union() - combines both set values and returns new 
# intersection() - combine common values and returns new

set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1.union(set2))
print(set1.intersection(set2))

{1, 2, 3, 4, 5}
{3}

In [23]:
# Practice
# store the word meanings in a python dictionary
# "table": "a piece of furniture", "list of facts & figures"
# "cat": "small animal"

dict1 = {
    "table": ["a piece of furniture", "list of facts & figures"],
    "cat": "small animal"
}

dict1

{'table': ['a piece of furniture', 'list of facts & figures'],
 'cat': 'small animal'}

In [24]:
# practice
# You are given a list of subjects for students. Assume one classroom is required for 1 subject.
# How many classrooms are needed by all students.
# subjects: "python", "java", "C++", "python", "javascript", "java", "python", "java", "C++", "C".

classrooms = {"python", "java", "C++", "python", "javascript", "java", "python", "java", "C++", "C"}
print(classrooms)
print(len(classrooms))

{'java', 'C++', 'python', 'javascript', 'C'}
5

In [26]:
# practice
# write a program to enter marks of 3 subjects from the user as a input and store them in a dictionary.
# start with an empty dictionary and add one by one. use subject name as key and marks as value

subjects = {}
x = int(input("Enter marks for subject A: "))
subjects.update({"A": x})

y = int(input("Enter marks for subject B: "))
subjects.update({"B": y})

z = int(input("Enter marks for subject C: "))
subjects.update({"C": z})

print(subjects)

{'A': 90, 'B': 80, 'C': 70}

In [1]:
# practice
# figure out a way to store 9 & 9.0 as separate values in the set.
value1 = {9, "9.0"}
value2 = {"9", 9.0}

print(value1)
print(value2)

value3 = {("int", 9), ("float", 9.0)}
print(value3)

{9, '9.0'}
{9.0, '9'}
{('float', 9.0), ('int', 9)}

In [2]:
# Loops
# Loops ae used to repeat instruction

# while loop
# print Hello world 5 times
count = 1
while count <= 5:
    print("Hello World !!!")
    count += 1

Hello World !!!
Hello World !!!
Hello World !!!
Hello World !!!
Hello World !!!

In [3]:
# print numbers from 1 to 10
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [5]:
# reverse above i.e 10 to 1
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [6]:
# print multiplication table of number n
n = int(input("Enter a number: "))
i = 1
while i <= 10:
    print(n * i)
    i += 1

8
16
24
32
40
48
56
64
72
80

In [10]:
# print the elements of following list using loop
lst = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
idx = 0
while idx < len(lst):
    print(lst[idx])
    idx += 1

1
4
9
16
25
36
49
64
81
100

In [13]:
# search for a number x in this tuple using loop
tup = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

x = 36
idx = 0

while idx < len(tup):
    if (tup[idx] == x):
        print("found at index:", idx)
    idx += 1

found at index: 5

In [ ]:
# break & continue
# break : used to terminate the loop when encountered.

tup = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

x = 36
idx = 0

while idx < len(tup):
    if (tup[idx] == x):
        print("found at index:", idx)
        break
    else:
        print("finding...")
    idx += 1

finding...
finding...
finding...
finding...
finding...
found at index: 5

In [15]:
# continue : terminates the execution in the current iteration & continues execution of the loop with the next iteration.
i = 1
while i <= 10:
    if (i % 2 == 0):
        i += 1
        continue
    print(i)
    i += 1

1
3
5
7
9

In [16]:
# for loops
# used for sequential traversal, traversing list, strings, tuples etc.
tup = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
for i in tup:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [17]:
name = "engineering"
for i in name:
    print(i)

e
n
g
i
n
e
e
r
i
n
g

In [22]:
# for loop with else
name = "engineering"
for i in name:
    print(i)
else:
    print("End")

e
n
g
i
n
e
e
r
i
n
g
End

In [ ]:
name = "engineering"
for i in name:
    if (i == "r"):
        print(i)
        break
    print(i)    
else:
    print("End")

e
n
g
i
n
e
e
r

In [25]:
# print the elements of following list using loop
lst = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

for i in lst:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [29]:
# search for a number x in this tuple using loop
tup = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x = 49
idx = 0
for i in tup:
    if (i == 49):
        print("found !!!", idx)
        break
    idx += 1

found !!! 6

In [31]:
# range()
# range function returns a sequence of numbers, starting from 0 (by default) and increments by 1 (by default) and
# stops before a specified number.

for el in range(5):
    print(el)

print("***************")
    
for el in range(1, 5):
    print(el)
    
print("***************")

for el in range(1, 5, 2):
    print(el)

0
1
2
3
4
***************
1
2
3
4
***************
1
3

In [32]:
# practice
# print values from 1 to 10 using range 
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [34]:
# practice
# print values from 100 to 1 using range
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [35]:
# practice
# print multiplication table of number n
n = int(input("Enter the number:"))
for i in range(1,11):
    print(n * i)

9
18
27
36
45
54
63
72
81
90

In [42]:
# pass statement
# pass is a null statement that does nothing. It is used as a placeholder for future codes.
for i in range(5):
    pass

i = 0
if (i <= 10):
    pass

print("functions created for future works...")

functions created for future works...

In [45]:
# practice
# find the sum of first n natural numbers (using while).
n = int(input("Enter the natural number:"))
sum = 0
i = 1
while i <= n:
    sum += i
    i += 1
    
print("total sum:", sum)

total sum: 28

In [48]:
# practice
# find the factorial of first n numbers (for loop).

n = int(input("Enter your number:"))
factorial = 1

for i in range(1, n+1):
    factorial *= i
    
print("factorial:", factorial)

factorial: 720

In [51]:
# using while loop
n = int(input("Enter the natural number:"))
factorial = 1
i = 1
while i <= n:
    factorial *= i
    i += 1
    
print("factorial:", factorial)

factorial: 720

In [6]:
# Functions
# a block of statements that perform a specific task
# Built-in functions
# print(), len(), type(), range()
# User defined function

# practice
# write a function to print the length of the list

def len_lst(lst):
    print(len(lst))
    
mylist = ["Akshay", 31, "Nagpur", "BE", "Electrical Engineering", "NMU Jalgaon", "64.73%"]

len_lst(mylist)

7

In [9]:
# write a function to print the elements of the list in a single line

def ele_lst(lst):
    for i in lst:
        print(i, end=", ")
        
mylist = ["Akshay", 31, "Nagpur", "BE", "Electrical Engineering", "NMU Jalgaon", "64.73%"]
ele_lst(mylist)

Akshay, 31, Nagpur, BE, Electrical Engineering, NMU Jalgaon, 64.73%,

In [10]:
# write a function to find the factorial of number n

def fact(num):
    factorial = 1
    for i in range(1, num + 1):
        factorial *= i
    print(factorial)
    
fact(5)

120

In [16]:
# write a function to convert USD to INR (1 USD = 84.59 INR)

def usd_inr(USD):
    INR = round(USD * 84.59,2 )
    print(USD, "USD", "=", INR, "INR")
    
usd_inr(11)

11 USD = 930.49 INR

In [17]:
# write a function that checks even and odd numbers 
def checkNum(num):
    if (num % 2 == 0):
        print("even")
    else:
        print("odd")
        
checkNum(8)

even

In [ ]:
# Recursion - When a function calls itself repeatedly.
def show(num):
    if (num == 0): # base case
        return
    print(num)
    show(num-1)
    
show(5)

5
4
3
2
1

In [20]:
# find factorial of a number using recursion
def fact(num):
    if (num == 0 or num == 1):
        return 1
    else:
        return num * fact(num - 1)
    
output = fact(5)
print(output)

120

In [28]:
# practice
# write a recursive function to calculate the sum of first n natural numbers

def cal_sum(num):
    if (num == 0):
        return 0
    return cal_sum(num - 1) + num  
    
cal_sum(5)

15

In [30]:
# practice
# write a recursive function to print the elements in a list
# Hint: use list & index as parameter

def print_list(lst, idx = 0):
    if (idx == len(lst)):
        return  
    print(lst[idx])
    print_list(lst, idx + 1)

mylist = ["Akshay", 31, "Nagpur", "BE", "Electrical Engineering", "NMU Jalgaon", "64.73%"]
print_list(mylist)

Akshay
31
Nagpur
BE
Electrical Engineering
NMU Jalgaon
64.73%

In [1]:
# File I/O
# Python can be used to perfrom operations on file. (read & write files)
# Types of files
# Text files : .txt, .docx, .log etc.
# Binary files: .mp4, .mov, .png, .jpeg
# Open, Read & Close file
# we have to open a file before reading or writing

<pre>

f = open("file_name", "mode")
    "file_name" is the name of the file you wish to read or write.
    "mode" specifies whether you want to read or write file where (r = read mode, w = write mode)
data = f.read()
f.close()

</pre>

<pre>
Character & their meaning
"r" - open for reading (default)
"w" - open for writing, truncating the file first
"x" - create a new file and open it for writing
"a" - open for writing, appending to the end of the file if it exists
"b" - binary mode
"t" - text mode (default mode)
"+" - open a disk file for updating (reading and writing)
</pre>

In [13]:
# Reading a file
# open file in read mode
f = open("textfile.txt", "r")
data = f.read() # read the entire file
print(data) # print the data
f.close() # close the file

Python is a versatile and powerful programming language known for its simplicity and readability.
It supports multiple programming paradigms, including procedural, object-oriented, and functional programming.
Python has a rich standard library and extensive third-party modules for various applications.
It is widely used in web development, data science, artificial intelligence, and automation.
Python's community is large and active, making it easy to find resources and support.

In [14]:
f = open("textfile.txt", "r")
line1 = f.readline()
print(line1)
line2 = f.readline()
print(line2)
line3 = f.readline()
print(line3)
line4 = f.readline()
print(line4)
line5 = f.readline()
print(line5)
f.close() # close the file

Python is a versatile and powerful programming language known for its simplicity and readability.

It supports multiple programming paradigms, including procedural, object-oriented, and functional programming.

Python has a rich standard library and extensive third-party modules for various applications.

It is widely used in web development, data science, artificial intelligence, and automation.

Python's community is large and active, making it easy to find resources and support.

In [16]:
# open file in write mode
f = open("textfile.txt", "w")
f.write("""
MySQL is an open-source relational database management system.
It is widely used for storing, managing, and retrieving data efficiently.
MySQL supports SQL (Structured Query Language) for database operations.
It is known for its speed, reliability, and ease of use.
MySQL is commonly used in web applications, data warehousing, and e-commerce platforms.""") # write to the file
f.close() # close the file

In [17]:
# open file in append mode
f = open("textfile.txt", "a")
f.write("""
Python is a versatile and powerful programming language known for its simplicity and readability. 
It supports multiple programming paradigms, including procedural, object-oriented, and functional programming. 
Python has a rich standard library and extensive third-party modules for various applications. 
It is widely used in web development, data science, artificial intelligence, and automation. 
Python's community is large and active, making it easy to find resources and support.""") # write to the file
f.close() # close the file

In [ ]:
# with syntax
with open("textfile.txt", "r") as f:
    data = f.read() # read the entire file
    print(data) # print the data
    f.close() # close the file

MySQL is an open-source relational database management system.
It is widely used for storing, managing, and retrieving data efficiently.
MySQL supports SQL (Structured Query Language) for database operations.
It is known for its speed, reliability, and ease of use.
MySQL is commonly used in web applications, data warehousing, and e-commerce platforms.
Python is a versatile and powerful programming language known for its simplicity and readability.
It supports multiple programming paradigms, including procedural, object-oriented, and functional programming.
Python has a rich standard library and extensive third-party modules for various applications.
It is widely used in web development, data science, artificial intelligence, and automation.
Python's community is large and active, making it easy to find resources and support.

In [20]:
# Deleting a file
# using the os module
# Module (like a code library) is a file written by another programmer that contains functions and variables.
import os
os.remove("textfile.txt") # remove the file