### Python Functions

A function is a set of statements that take inputs, do some specific computation and produces output. These functions are called user defined function

In [44]:
# import libraries
import numpy as np
import pandas as pd

In [45]:
# let's create an if-else condition to find if number is even or odd
num = 3

if num%2==0:
    print("The given number is even")
else:
    print("The given number is odd")

The given number is odd

In [46]:
# let's define the functions so it can be reused many times
def even_odd(num):
    if num%2==0:
        print("The given number is even")
    else:
        print("The given number is odd")

In [47]:
even_odd(17)

The given number is odd

In [48]:
# print vs return
def hello_world():
    print("Hello World!")

In [49]:
hello_world()

Hello World!

In [50]:
hello = hello_world()
print(hello)

Hello World!
None

In [51]:
def new_world():
    return "hello people"

In [52]:
val = new_world()
print(val)

hello people

In [53]:
# function to add number
def add(num1, num2):
    return num1+num2

In [54]:
add(17,18)

35

In [55]:
# positional and keyword arguments
def hello(name, age=29):
    print("My name is {} and age is {}".format(name, age))

In [56]:
hello("Akshay")

My name is Akshay and age is 29

In [57]:
def hello(*args, **kwargs):
    print(args)
    print(kwargs)

In [58]:
hello("Akshay", "Paunikar", age=29, yob=1994)

('Akshay', 'Paunikar')
{'age': 29, 'yob': 1994}

In [59]:
lst = ['Akshay', 'Paunikar']
dict = {'age': 29, 'yob': 1994}

In [60]:
hello(*lst, **dict)

('Akshay', 'Paunikar')
{'age': 29, 'yob': 1994}

In [61]:
# If conditions and for loops

lst=[1,2,3,4,5,6,7,8,9,10,12,13,14,15]

even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
print(even_sum,odd_sum)

56 53

In [62]:
num1 = int(input("Please enter your first number:"))
num2 = int(input("Please enter your second number"))

add(num1, num2)

13

In [63]:
def hello(name, age):
    print("My name is {} and age is {}".format(name, age))

In [64]:
name = str(input("Please enter your name:"))
age = int(input("Please enter your age:"))

hello(name, age)

My name is akshay and age is 30

#### IF-ELIF-ELSE

In [1]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

#### WHILE LOOP

With the while loop we can execute a set of statements as long as a condition is true.

In [2]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

With the break statement we can stop the loop even if the while condition is true:

In [3]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

With the continue statement we can stop the current iteration, and continue with the next:

In [4]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

#### FOR LOOP

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string). With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [5]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

#### range() Function

To loop through a set of code a specified number of times, we can use the range() function.

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [6]:
for x in range(6):
  print(x)

0
1
2
3
4
5

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

In [7]:
for x in range(2, 6):
  print(x)

2
3
4
5

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

In [8]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

#### Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [9]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry